* {
  margin: 0px 0px;
}

.header {
  display: flex;
  font-family: "Geist", sans-serif;
  background-color: black;
  padding: 10px;
  height: 80px;
  align-items: center;
}

.header > .header-left {
  display: flex;
  align-items: left;
  align-self: center;
}

.header > .header-left > .main-logo img {
  padding-left: 20px;
  height: 50px;
}

.header > .header-left > .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.header > .header-left > .links > .call-to-action {
  display: inline;
  margin-bottom: 6px;
}

.menu-links {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  align-items: center;
}

.header > .header-left > .links a {
  align-items: left;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.header > .header-left > .links >.call-to-action p .explore {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  color: #F4E180;
  text-align: left;
  margin-bottom: -5px;
}

.header > .header-left > .links >.menu-links a .sparkclass {
  color: rgba(209, 209, 209, 0.752); 
  text-decoration: none;
  font-weight: 520;
  padding-left: 20px;
  padding-right: 30px;
}

.menu-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  white-space: nowrap;
}

.menu-links > div {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
  padding-right: 20px;
}

.header-right i {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.create-button, .login-button, .signup-button {
  display: flex;
  background-color: #36383F;
  color: white;
  font-family: "Geist", sans-serif;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-button {
  padding: 20px;
}

.search-icon i {
  color: #ccc;
  font-size: 30px;
  margin: 10px 10px;
  cursor: pointer;
}

.login-button,
.signup-button {
  padding: 27px 27px;
}

.signup-button {
  margin-left: 5px;
}

.login-button {
  margin: 0px 0px 0px 10px;
}

button:hover {
  background-color: rgb(66, 66, 66);
  transition: 0.2s;
}