.foot {
    display: flex;
    background-color: rgb(64, 64, 64);
    gap: 2px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.foot a {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
    
#caps {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bolder;
}