.foot > .foot-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgb(70, 70, 70);
    border: 1px solid white;
}

.foot > .foot-wrapper a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    align-items: center;
    align-content: center;

}
    
#caps {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}