.foot {
    font-family: "Geist", sans-serif;
    display: flex;
    height: 100px;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    gap: 0.5px;
    height: auto;
    background-color: rgb(133, 133, 133);
}

.foot > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 60px; 
    padding: 1px;
    background-color: rgba(64, 64, 64, 0.816);
    border: 1px solid white;
}

.foot a {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
    
.caps {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bolder;
}