* {
    margin: 0px 0px;
}

.header {
    font-family: "Geist", sans-serif;
    display: flex;
    background-color: black;
    padding: 10px;
    height: 80px;
    align-items: center;
}

.header > .header-left {
    display: inline;
    display: flex;
    align-items: left;
    align-self: center;
}

.header > .header-left > .main-logo img {
    padding-left: 20px;
    height: 50px;
}

.header > .header-left > .links > .call-to-action {
    display: inline;
    margin-bottom: 6px;
}

.menu-links {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  align-items: center;
}

.header > .header-left > .links a {
    align-items: left;
    justify-content: space-between;
    color: white; 
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.header > .header-left > .links >.call-to-action p .explore {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(219, 219, 40);
    text-align: left;
}

.header > .header-left > .links >.menu-links a .sparkclass {
    color: rgb(92, 92, 92); 
    text-decoration: none;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 50px;
}

.header > .header-left > .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.menu-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  white-space: nowrap;
}

.menu-links > div {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
  padding-right: 20px;
}

.create-button, .login-button,
.signup-button {
    background-color: rgb(52, 52, 52);
    font-family: "Geist", sans-serif;
  color: white;
  height: 75px;
  font-weight: bold;
    border-radius: 5px;
    border: none;
      border-radius: 5px;
      font-size: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.create-button {
  padding: 20px;
}

.search-icon i {
  color: #ccc;
  font-size: 30px;
  margin: 10px 10px;
  cursor: pointer;
}

.login-button,
.signup-button {
  padding: 27px 27px;
}

.signup-button {
    margin-left: 5px;
}

.login-button {
    margin: 0px 0px 0px 10px;
}