* {
    font-family: 'Inter', system-ui, sans-serif;
    margin: 0px 0px;
}

.header {
    display: flex;
    background-color: black;
    padding: 10px;
    height: 125px;
    align-items: center;
}

.header > .header-left {
    display: inline;
    display: flex;
    align-items: left;
    align-self: center;
}

.header > .header-left > .main-logo img {
    padding-left: 20px;
    height: 50px;
}

.header > .header-left > .links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.header > .header-left > .links a {
    align-items: left;
    justify-content: space-between;
    color: white; 
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.header > .header-left > .links >.call-to-action p .explore {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(219, 219, 40);
    text-align: left;
}

.header > .header-left > .links a .sparkclass {
    color: rgb(92, 92, 92); 
    text-decoration: none;
    font-weight: normal;
    padding-left: 25px;
}

.header-right {
    display: flex;
    align-items: right;
    justify-content: right; 
    align-content: right; 
}

.links > .dropdown-spark button {
    background-color: rgba(69, 69, 69, 0.536);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    border: 0px;
    justify-content: space-between; 
}

.links > .dropdown-spark button {
    background-color: rgba(69, 69, 69, 0.536);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    border: 0px;
    justify-content: space-between; 
}

.dropdown-create button {
    background-color: rgba(69, 69, 69, 0.536);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    border: 0px;
    justify-content: space-between; 
}

.header > .header-right {
    gap: 10px;
    justify-content: right;
    align-items: center;
    align-content: right;

}

.header > .header-right button {
    margin: 2px;
    padding: 17px;
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.lupa-clara {
  color: #ccc; /* gris claro */
  font-size: 24px; /* tamaño opcional */
}