.main {
    display: grid;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to right, rgba(27, 27, 27, 0.874), rgb(0, 0, 0));
    grid-template-columns: 48% 45%;
    gap: 25px;
    padding-left: 50px;
    padding-top: 20px; 
}

.main > .grid-main-left-column {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
    align-content: center;
    justify-content: center;
}

.main > .grid-main-left-column > .first-paragraph p {
    font-size: 2.7em;
    color: white;
    letter-spacing: 0.25px;
    margin-bottom: 17px;
}

.main > .grid-main-left-column > .first-paragraph .bold {
    font-weight: bold;
}

.main > .grid-main-left-column > .second-paragraph p {
    font-size: 2.2em;
    color: rgb(151, 151, 151);
    margin-bottom: 17px;
}

.grid-call-to-action-buttons {
    display: flex;
    align-content: left;
    align-items: left;
    gap: 5px;
    margin-top: 0;
}

.grid-call-to-action-buttons >.sign-up-for-free button {
    background-color: #4BCE79;
    font-family: "Geist", sans-serif;
    color: black;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 32px;
    text-decoration: none;
    margin: 2px;
    border: 0px;
    padding: 17px 38px 17px 38px;
    margin-right: 10px;
    cursor: pointer;
}

.grid-call-to-action-buttons >.learn-more button {
    background-color: black;
    font-family: "Geist", sans-serif;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 32px;
    text-decoration: none;
    margin: 2px;
    padding: 17px 38px 17px 38px;
    border: 0px;
    cursor: pointer;
}

.main > .grid-main-right-column {
    display: grid;
    padding-top: 20px;
    justify-content: left;
    margin-right: 0px;
    margin-left: 147px;
}

.grid-main-right-column >.call-to-action-text p {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding-left: 0;
    margin-left: 0
}

.main > .grid-main-right-column >.call-to-action-text p .cpprojects {
    color: #78DAFD;
}

.main > .grid-main-right-column >.image-right-column img {
    position: absolute;
    top: 62%;
    right: 0;
    transform: translateY(-50%);
    width: 610px;
    box-shadow: -30px 0px 40px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.grid-call-to-action-buttons >.sign-up-for-free button:hover {
  background-color: #66c487;
  transition: 0.2s;
}

.grid-call-to-action-buttons >.learn-more button:hover {
    background-color: rgba(0, 0, 0, 0.83);
    transition: 0.2s;
}