.main {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 25px;
    padding-left: 50px;
    padding-top: 20px;
    background-image: linear-gradient(to right, rgba(27, 27, 27, 0.874), rgb(0, 0, 0));
}

.main > .grid-main-left-column {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
    align-content: center;
    justify-content: center;
}

.main > .grid-main-left-column > .first-paragraph p {
    font-size: 2.7em;
    color: white;
    letter-spacing: normal;
}

.main > .grid-main-left-column > .first-paragraph #bold {
    font-weight: bold;
}

.main > .grid-main-left-column > .second-paragraph p {
    font-size: 2.3em;
    color: rgb(151, 151, 151);
}

.grid-call-to-action-buttons {
    display: flex;
    align-content: left;
    align-items: left;
    gap: 5px;
}

.grid-call-to-action-buttons >.sign-up-for-free button {
    background-color: rgb(64, 142, 64);
    color: black;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    margin: 2px;
    border: 0px;
    padding: 17px;
}

.grid-call-to-action-buttons >.learn-more button {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    margin: 2px;
    padding: 17px;
    border: 0px;
}

.main > .grid-main-right-column {
    display: grid;
    padding-top: 20px;
    justify-content: right;
}

.grid-main-right-column >.call-to-action-text p {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
}

.main > .grid-main-right-column >.call-to-action-text p .cpprojects {
    color: rgb(10, 173, 249);
}

.main > .grid-main-right-column >.image-right-column img {
    align-items: left;
    /* max-height: 100vh; */
    max-width:100vw;
    justify-content: left;
    box-shadow: -30px 0px 40px rgba(0, 0, 0, 0.4);
    float:none;
    
  
}